<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Детали проекта: {{ project.title }}</h1>
<p><strong>Описание:</strong> {{ project.description }}</p>
<p><strong>Бюджет:</strong> {{ project.budget }} руб.</p>
<p><strong>Дедлайн:</strong> {{ project.deadline }}</p>

<h2>Исполнитель:</h2>
<p><strong>Фрилансер:</strong> {{ freelancer.username }}</p>

<p><strong>Статус выполнения:</strong> {{ application_status }}</p>

{% if report %}
    <h3>Отчет по проекту</h3>
    <p><a href="{{ report.report_file.url }}" download>Скачать отчет</a></p>

    <!-- Кнопки для принятия или отклонения отчета -->
    <form method="post" action="{% url 'review_report' report.id %}">
        {% csrf_token %}
        <button type="submit" name="action" value="accept">Принять отчет</button>
        <button type="submit" name="action" value="reject">Отклонить отчет</button>
    </form>
{% endif %}

<a href="{% url 'employer_dashboard' %}">Вернуться в личный кабинет работодателя</a>

</body>
</html>